#root{
  position: relative;
  min-height:  100%;
}
/* width */
body::-webkit-scrollbar {
  width: 5.5px;
  height: 100%;
}

/* Track */
body::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 10px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}





.scroller-x::-webkit-scrollbar {
  width: 5.5px;
  height: 100%;
}

/* Track */
.scroller-x::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 10px;
}

/* Handle */
.scroller-x::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover */
.scroller-x::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}



.swaper-container-x{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.swaper-container-y{
  width: 89%;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
